$blue: hsl(216, 98%, 52%);
$color-primary: hsl(263, 90%, 51%);
$main-bg:#9834da;
$cyan: hsl(190, 90%, 50%);
$purple: hsl(261, 51%, 51%);
$pink: #d63384;
$red: rgb(255, 0, 0);
$orange: #fd7e14;
$yellow: #ffff00;
$green: #00ff00;
$teal: #20c997;
$black: #000;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;
