header {
  background: $gray_200;
  height: 6rem;
  border-bottom: 1px solid $white;
  i {
    font-size: 1.5rem;
  }
  .header__menu {
    .avator {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      background: $gray_400;
    }
  }
  .avator__name{
    margin-left: -2rem;
    color:red;
    text-transform:capitalize;
  }
}
