

.container {
  height: 100vh;
}



.form-group {
  margin-top: 1rem;
  margin-bottom: 0;
}

.input-group-prepend {
  min-width: 40px;
}

.login-form .input-group-text {
  width: 100%;
  background: $main-bg;
  border: 0px;
}

.login-form input::placeholder, .login-form textarea::placeholder {
    color: $gray-100;
}

.login-form input, .login-form textarea {
  background: $gray-dark;
	border: 0px;
	color: $white;
	font-family: 'Nunito', sans-serif;
}

.login-form input:focus, .login-form textarea:focus {
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
  background-color: $gray-800;
  color: $white;
	font-family: 'Nunito', sans-serif;
}

.login-form button.btn-custom {
  background: $main-bg;
	border-color: rgba(48, 46, 45, 1);
  color: $white;
  font-weight: bold;
}

.login-form button.btn-custom:hover{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	background: $gray-800;
	border-color: $main-bg;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
