.wrapper {
  display: flex;
  height: 100vh;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
  background-size: 100% 100%;
background-position: 0px 0px,0px 0px,0px 0px;
background-image: radial-gradient(113% 91% at 17% -2%, #EA00FFFF 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #0092FFFF 1%, #FF000000 99%),linear-gradient(274deg, #9732DAFF 0%, #9732DAFF 19%, #FF0000FF 100%);
  main {
    // max-width: 400px;
    padding: 15px;
    border-radius: 5px;
    background:azure;
    form {
      width: 400px;
      .form-floating{
        input{
          border-radius: 5px;
        }
        label{
          color: $bs_blue;
        }
        &:focus-within {
        z-index: 2;
      }
     &:input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    }
    }
   
  }
}
